<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obfuscation screen</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
    
    <main class="container-message-log" >

        <h2>Obfuscation error</h2>

        <p><%= messageError %></p>

        <a class="element-button" href="/" >Return to home page</a>

    </main>

</body>
</html>